<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container-fluid nav-ctn">
    <a class="navbar-brand" href="#home">Sandhya Sukumaran</a>
    <div class="nav-btn">
      <a href="#skills">Skills</a>
      <a href="#work">Work Experience</a>
    </div>
  </div>
</nav>

<div class="container-fluid" id="home">
  <div id="outer-main-container" class="container">
    <div id="contact-container" class="container">
      
    </div>
    <div id="img-container" class="container">
      
    </div>
  </div>
  
</div>

<div class="container-fluid" id="skills"> 

</div>

<div class="container-fluid" id="work">

</div>